@media screen and (max-width: 767px) {
  .content {
    .hero {
      width: 60%;
      order: -1;
    }
    .weather {
      width: 40%;
      order: -1;

      .weather__location {
        text-align: center;
      }

      .weather__today {
        flex-direction: column;
      }
    }
    .top-news {
      width: 100%;
    }
    .scores {
      width: 100%;
    }
  }

  .nav-drawer {
    display: block;
  }
  .header {
    z-index: 0;
  }
}
