@media screen and (max-width: 550px) {
  .scores__table__location {
    display: none;
  }

  .header {
    .header__logo {
      font-size: 1em;
      max-width: 20%;
    }

    .header__title {
      font-size: 1.5em;
      flex-grow: 1;
    }
  }

  .content {
    .hero , .top-news, .scores, .weather {
      min-width: 100%;
    }

    .weather {

      .weather__today {
        flex-direction: row;
      }

      .weather__location {
        text-align: left;
      }

    }

  }

  footer {
    padding: 0 1em;

    ul {
      flex-direction: column;

      li {
        line-height: 3em;

        a {
          padding: 0;
          display: block;
        }

      }
    }
  }

}
