@media screen and (max-width: 550px) {

  .header__logo {
    font-size: 1em;
    max-width: 20%;
  }

  .header__title {
    font-size: 2em;
    flex-grow: 1;
  }

  .content {
    .hero , .top-news, .scores, .weather {
      min-width: 100%;
    }
  }
  
  footer {
    padding: 0 1em;

    ul {
      flex-direction: column;

      li {
        line-height: 3em;

        a {
          padding: 0;
          display: block;
        }

      }
    }
  }

}
